.button{
    &:hover{
        text-decoration: none;
        i{
            margin-left: 25px;
            @include transition(all 0.2s ease);
        }
        &.light{
            color: #ffffff;
        }
        &.dark{
            color: #323232;
        }
    }
    i{
        margin-left: 15px;
        font-size: 13px;
        @include transition(all 0.2s ease);
    }
}