footer{
    p{	
    	border-top: 5px solid #e0e0e0; 
    	text-transform: uppercase;
    	text-align: center;
    	padding: 20px 0;
    	> img{
    		height: 30px;
    	}
    	.social{
    		position: relative;
    		float: right;	
    		img{
    			height: 20px;
    		}
    	}
    }
}
