#single{
    background-color:#f5f5f5; 
    margin-top: 120px;
}

#single .text-box{
    text-align: right;
    border-top: 5px solid #e0e0e0; 
    border-bottom: 5px solid #e0e0e0; 
    margin-top: 100px;
}

#single .text-box h1.title{
    margin: 40px 0 0 0;
}

#single .text-box .description{
    margin: 10px 0 40px 0;
}

#single .images{
    margin-top: 100px;
}

#single .images img{
    display: inline-block;
    width: 100%;
    margin-bottom: 4px; 
}